<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice" aria-live="polite">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
<% if (locals.loggedin && locals.user) { %>
    <h2>Welcome <%= user.account_firstname %></h2>
    <p><a href="/account/update/<%= user.account_id %>" title="Update your account information">Update Account Information</a></p>
    <% if (['Employee', 'Admin'].includes(user.account_type)) { %>
        <h3>Inventory Management</h3>
        <p><a href="/inv/" title="Manage inventory">Manage Inventory</a></p>
    <% } %>
<% } %>