<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <nav>
    <%- nav %>
  </nav>
  <main>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p><a href="/">Return to Home</a></p>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>
</html>